/* Import Poppins for sentences and Orbitron for title */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');
.about-section {
  min-height: 200vh;
  padding: 150px 10%;
  display: flex;
  flex-direction: column;
  gap: 120px;
  background: #000;
  color: white;
}

.about-line {
  position: relative;
  font-family: 'Audiowide', cursive;
  font-size: clamp(40px, 6vw, 90px);
  font-weight: 700;
  line-height: 1.1;
  color: transparent;
  -webkit-text-stroke: 1px white;
  overflow: hidden;
}

/* Fill animation */
.about-line::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.about-line.active::after {
  transform: scaleX(1);
}


.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
}

/* Developer-Style Title  */

.about-title {
  font-size: clamp(70px, 9vw, 50px);
  font-weight: 800;
  letter-spacing: 6px;
  font-family: 'Audiowide', cursive; 
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* < and /> symbols */
.code-symbol {
  color: orange;
  text-shadow: 10px 15px 15px rgba(114, 139, 134, 0.3);
}


.code-text {
  background: linear-gradient(90deg, #ffffff, #aaaaaa, #ffffff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 4s linear infinite;
}

/* Soft glow behind title */
.about-title::before {
  content: "<About/>";
  position: absolute;
  inset: 0;
  z-index: -1;
  color: #00ffcc;
  opacity: 0.05;
  filter: blur(25px);
}

/* Animated underline */
.about-underline {
  margin-top: 20px;
  width: 140px;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff9900, #ffffff);
  background-size: 200% auto;
  animation: shimmer 4s linear infinite;
}

/*  Shimmer Animation  */

@keyframes shimmer {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}