.cursor-main {
     position: fixed;
     top: 0;
     left: 0;
     width: 40px;
     height: 40px;
     background-color: orange;
     border-radius: 50%;
     pointer-events: none;
     z-index: 9999;
     transform: translate(-50%, -50%);
     transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border 0.3s ease;
   }
   
   /* Hovering on icons or interactive elements */
   .cursor-icons {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: rgba(255, 165, 0, 0.2);
     border: 2px solid orange;
   }
   
  
   .cursor-disable {
     display: none;
   }