.home-section {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/backgroundImage.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-name {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.home-title {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .home-name {
    font-size: 3rem;
  }
  .home-title {
    font-size: 1.5rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  color: white;
}

.home-name {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}

.home-title {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 500;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  right: 20%;
  width: 30px;
  background-color: white;
  height: 50px;
  border: 2px solid orange;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  cursor: pointer;
  z-index: 2;
}

.scroll-down span {
  width: 5px;
  height: 15px;
  background: orange;
  border-radius: 2px;
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
