.home-section {
  height: 100vh;
  width: 100%;
  background-color: rgb(7, 7, 7); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 50px 0 100px; 
  box-sizing: border-box;
  position: relative; 
}

.home-content {
  color: white;
  max-width: 50%; 
  text-align: center;
}

.home-name {
  font-size: 5rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.home-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.home-image {

  max-width: 45%;    
  height: auto;
  border-radius: 30px;
  object-fit: contain;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

/* Scroll down indicator */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  border: 2px solid orange;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  cursor: pointer;
  z-index: 2;
  background-color: rgb(255, 255, 255); 
}

.scroll-down span {
  width: 5px;
  height: 15px;
  background: orange;
  border-radius: 2px;
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .home-section {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .home-content, .home-image {
    max-width: 90%;
  }
  .home-name {
    font-size: 3rem;
  }
  .home-title {
    font-size: 1.5rem;
  }
}