:root {
  --background-color: #0b080c;
  --loading-bg: #eae5ec;
  --hover-color: #e32c2c;
  --button-bg: #000;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--loading-bg);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.loading-header {
  position: absolute;
  text-decoration: none;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.loader-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.loading-marquee {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 600;
  color: #000;
}

.loading-wrap {
  --Lsize: 150px;
  padding: 6px;
  position: absolute; 
  top: 65%; 
  left: 50%;
  transform: translateX(-50%); 
  border-radius: 100px;
  background-color: var(--button-bg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.33, 0.11, 1, 0.72);
  z-index: 10;
}

.loading-wrap:hover .loading-hover {
  opacity: 1;
}

.loading-hover {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: var(--hover-color);
  border-radius: 50%;
  top: var(--mouse-y, 50%);
  left: var(--mouse-x, 50%);
  transform: translate(-50%, -50%);
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loading-button {
  position: relative;
  padding: 20px 50px;
  background-color: var(--button-bg);
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
}

.loading-content-in {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.loading-button span {
  margin-left: 5px;
}

.loading-clicked {
  position: fixed;
  width: 200vw;
  height: 200vh;
  border-radius: 5000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 1s cubic-bezier(0.33, 0.11, 1, 0.72);
}

.loading-clicked .loading-button {
  opacity: 0;
}

.loading-complete .loading-button {
  background-color: var(--button-bg);
}

.loading-box {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 15px;
  height: 25px;
  background-color: white;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}