.skills-section {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
     background: #070707;
     color: white;
     font-family: "Poppins", sans-serif;
     padding: 100px 10%;
   }
   
   .skills-title {
     font-size: clamp(40px, 6vw, 80px);
     font-weight: 700;
     margin-bottom: 40px;
   }

   .skills-underline{
     margin-top: -15px;
     width: 140px;
     height: 4px;
     border-radius: 10px;
     background: linear-gradient(90deg, #ff9900, #ffffff);
     background-size: 200% auto;
     animation: shimmer 4s linear infinite;
}
   
   .skills-grid {
     display: grid;
     grid-template-columns: repeat(7, 100px);
     grid-auto-rows: 100px;
     gap: 20px;
   }
   
   .skill-icon-container {
     width: 100px;
     height: 100px;
     background: #111;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3rem; 
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
     animation: wave 2s ease-in-out infinite alternate;
   }
   
   @keyframes wave {
     0% { transform: translateY(0); }
     50% { transform: translateY(-15px); }
     100% { transform: translateY(0); }
   }
   
   @media (max-width: 1024px) {
     .skills-grid {
       grid-template-columns: repeat(4, 90px);
       grid-auto-rows: 90px;
       gap: 15px;
     }


   
     .skill-icon-container {
       width: 90px;
       height: 90px;
       font-size: 2.5rem;
     }
   }